@import 'bower_components/normalize-scss/_normalize';
@import 'bower_components/susy/sass/susy';
@import 'variables';
@import 'animations';

@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

$susy: (
	columns: 12,
	container: 960px,
	gutters: 1/4,
	gutter-position: inside,
	global-box-sizing: border-box,
);

@include border-box-sizing;

body {
	background-color: $dark-grey;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
}

.landing {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;

	background-color: $dark;
	vertical-align: middle;

	display: flex;
}

.pizazz1 {
	position: absolute;
	left: -100px;
	width: 300px;
	height: 60px;
	background-color: $purple;
	transform: rotate(-45deg);
}

.pizazz2 {
	position: absolute;
	left: -120px;
	width: 550px;
	height: 80px;
	background-color: $purple;
	transform: rotate(-45deg);	
}

.pizazz3 {
	position: absolute;
	bottom: 0;
	right: -70px;
	width: 200px;
	height: 60px;
	background-color: $purple;
	transform: rotate(-45deg);
}

.title-container {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin: auto;
	z-index: 10;

	@extend .fadein;
}

.ecorp {
	font-size: 124px;
	letter-spacing: 6px;
}

.entertainment {
	font-size: 24px;
	letter-spacing: 6px;
}

.artists-container {
	position: relative;
	overflow: hidden;
}

.artist {
	background-color: $dark-grey;
	padding-top: 20px;
	padding-bottom: 20px;

	&:nth-child(2n) {
		background-color: $light-grey;
	}
}

.artist-info-container {
	@include container;
	display: flex;
	align-items: center;
}

.img {
	@include span(5);

	img {
		height: auto;
		width: 100%;
	}
}

.name {
	@include span(7);
	color: #000000;
	text-align: center;
	font-size: 72px;
	letter-spacing: 2px;
}

.footer {
	background-color: $dark;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.copyright {
	display: inline-block;
	font-size: 12px;
}