p Artists
ul
  each artist in artists
    li= artist.name
      a(href='/admin/artists/edit/'+artist.id)
        button Edit
      form(action='/admin/artists/'+artist.id+'?_method=DELETE', method='post')
        input(type='submit', value='Delete')
p Employees
ul
  each employee in employees
    li= employee.name
      a(href='/admin/employees/edit/'+employee.id)
        button Edit
      form(action='/admin/employees/'+employee.id+'?_method=DELETE', method='post')
        input(type='submit', value='Delete')

a(href='/admin/artists/new')
  Button New artist
a(href='/admin/employees/new')
  Button New employee