p Artists
ul
  each artist in artists
    li= artist.name
p Employees
ul
  each employee in employees
    li= employee.name

a(href='admin/artists/new')
  Button New artist
a(href='admin/employee/new')
  Button New employee