doctype html
html(lang='en', ng-app='bsj')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ECorp Management
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='css/styles.min.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='js/site.js')
  body
    #nav.navigation
      ul#menu
        li(data-menuanchor='argenil')
          a(href='#argenil')  Argenil 
        li(data-menuanchor='michaelblume')
          a(href='#michaelblume')  Michael Blume 
        li.separator |
        li(data-menuanchor='contact')
          a(href='#contact')  Contact 
    #fullpage
      .section(data-anchor='home')
        .title-container
          img(src='img/logo.png')
        .arrow-down
          i.fa.fa-chevron-down
      .section(data-anchor='argenil')
        .artist-bg(style="background-image: url('img/artists/argenil.jpg')")
          .artist-content
            .column
              .artist-name  Argenil 
              .artist-bio
                | Argenil is an EDM duo based out of Bangalore, India, consisting of producer and percussionist Rohit Gandhi and Guitarist and DJ Anil Prasad. In a few short months, they have put on dozens of performances in and around their hometown, secured a spot on the main stage of Bangalore's first music festival, and even had their music played on American radio. Their first single, “Tha-di-ki-na thom”, is a unique combination of Indian classical music and traditional EDM unlike anything currently on the market. With an exciting, original sound and a killer live show that incorporates many live instruments, Argenil has a big and busy year ahead of them.
              ul.social-links
                li
                  a(href='https://soundcloud.com/argenil')
                    i.fa.fa-soundcloud
                li
                  a(href='https://www.facebook.com/argenilmusic/')
                    i.fa.fa-facebook
                li
                  a(href='https://www.instagram.com/argenil_music/')
                    i.fa.fa-instagram
      .section(data-anchor='michaelblume')
        .artist-bg(style="background-image: url('img/artists/blume.jpg')")
          .artist-content
            .column.right
              .artist-name  Michael Blume 
              .artist-bio
                | Michael Blume has quickly established himself as a powerful new voice of progressive R&B in New York City. Blume’s music centers on themes of the relationship with the self, critique of money-obsession, and shifting youth identity. His debut single "Manufactured Love" repeatedly hit Spotify's Viral Charts and earned him a New Artist feature on iTunes as well as high praise from prominent music blogs. Blume’s brand of conscious songwriting, soulful vocals, and charismatic performances has lead to sold out shows at many of NYC’s top venues.
              ul.social-links
                li
                  a(href='https://soundcloud.com/michaelblume/')
                    i.fa.fa-soundcloud
                li
                  a(href='https://www.facebook.com/MichaelBlumeMusic')
                    i.fa.fa-facebook
                li
                  a(href='https://twitter.com/mblumemusic')
                    i.fa.fa-twitter
                li
                  a(href='https://www.instagram.com/mblumemusic/')
                    i.fa.fa-instagram
      .section
        .contact(data-anchor='contact')
          .header  CONTACT 
          form
            .field
              label
                | Email
                input(type='email', name='email')
            .field
              label
                | Subject
                input(type='text', name='subject')
            .field
              label
                | Message
                textarea#messagetext(name='message')
            button#send(type='button')  Send 
        .footer
          | © 2015 ECorp Management
