doctype html
html(lang='en' ng-app='bsj')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ECorp Management
    link(href='css/styles.min.css', rel='stylesheet') 
  body
    .landing
      .pizazz1
      .pizazz2
      .title-container
        .ecorp ECORP
        .entertainment MANAGEMENT
    .artists-container
      .artist
      .artist
    .footer
      .copyright © 2015 ECorp Management

