doctype html
html(lang='en' ng-app='bsj')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ECorp Management
    link(href='css/styles.min.css', rel='stylesheet') 
  body
    .landing
      .pizazz1
      .pizazz2
      .title-container
        .ecorp ECORP
        .entertainment MANAGEMENT
    .artists-container
      a(href='/').artist
        .artist-info-container
          .img
            img(src='img/argenil.png')
          .name 
            span.text Argenil
      a(href='/').artist
        .artist-info-container
          .name 
            span.text Michael Blume
          .img
            img(src='img/blume.png')
      .pizazz3
    .footer
      .copyright © 2015 ECorp Management

