p= title
p= method
div
  form(action='/admin?_method='+method, method='post')
    div
      input(type='text', placeholder='name', name='name')
    div
      input(type='text', placeholder='logo', name='logo')
    div
      input(type='text', placeholder='description', name='description')
    div
      input(type='text', placeholder='soundcloud', name='soundcloud')
    div
      input(type='text', placeholder='facebook', name='facebook')
    div
      input(type='text', placeholder='twitter', name='twitter')
    div
      input(type='text', placeholder='instagram', name='instagram')
    div
      input(type='text', placeholder='youtube', name='youtube')
    div
      input(type='text', placeholder='website', name='website') 
    div
      input(type='submit', value='Submit')